*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: black;
}
.cabeca{
    background-image: url("/imagens/102.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    padding: 20px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}
.menu a{
    color: white;
}
.cabeca .texto{
    color: white;
    text-align: center;
    margin-top: 250px;
}
/*---------------------*/
.trabalho .cada .tema{
    color: white;
    margin: 20px 0;
    width: 100%;
    text-align: center;
}
.trabalho .cada .cadaimagens{
    width: 80%;
    margin: 0 auto;

    column-count: 6;
    column-gap: 5px;
}
.trabalho .cada .cadaimagens img{
    width: 100%;
    border-radius: 12px;
    transition: 2s;
}
.cadaimagens img:hover {
    transform: scale(1.50);
    box-shadow: 0 0 12px 2px black;
}
/**/
.sobre_nos{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 0 auto;
    width: 80%;
}
.sobre_nos .es{
    color: white;
    margin: 20px;
    font-size: 20px;
}
.sobre_nos .di{
    width: 500px;
    margin: 20px;
}
.sobre_nos .di img{
    width: 100%;
}
.tema{
    color: white;
    text-align: center;
    margin: 20px 0;
}
/**/
.contactos {
    text-align: center; /* Centraliza os ícones no rodapé */
    padding: 20px 0; /* Espaçamento superior e inferior */
    background-color: #000; /* Fundo preto */
}

.social-icon {
    margin: 0 15px; /* Espaçamento maior entre os ícones */
    color: #fff; /* Cor branca para os ícones */
    font-size: 30px; /* Tamanho maior dos ícones para destaque */
    text-decoration: none;
    transition: color 0.3s, transform 0.3s; /* Transição suave para cor e movimento */
}

.social-icon:hover {
    color: #1DA1F2; /* Cor azul-clara ao passar o mouse (você pode ajustar) */
    transform: scale(1.50); /* Aumenta o ícone ao passar o mouse */
}
