.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 30px 0;
    background-color: #000000d0;

    position: fixed;
    width: 100%;
}
.menu .logo a{
    color: white;
}
.menu .links a{
    color: white;
    margin: 10px;
}

